$backgroundColor: #083AA9;



$fontVars: (
    "color": #3C4048,
    "font": 'Open Sans',
    "size": 1.6rem
);

$tasksVars: (
    "background": #DDDDDD,
    "specialFontColor": #EEE,
    "listItemColor": #ECECEC,
    "numberColor": #00ABB3
);

$labelVars: (
    "default": #379237,
    "tomorrow": #A03C78,
    "weekend": #E26A2C,
    "nextWeek": #0E9AA7,
    "sometime": #C21010
)