@use "../abstract/mixins";
@use "../abstract/variables";


.header{
    width: 100%;
    height: 20%;
    background: map-get(variables.$colors, "white");
    box-shadow:  0 0.1rem 0.8rem 0rem map-get(variables.$colors, "shadow");
    @include mixins.flexCenter;
    justify-content: center;
    gap: 1.5rem;
}

.header__bars{
    display: none;
    
}

.header__figure{
    width: 9rem;
    height: 9rem;
    object-fit: cover;
    @include mixins.flexCenter;
}

.header__logo{
    height: 10rem;
    width: 10rem;
    padding-left: 1rem;
}

.header__span{
    font-size: 1.3rem;
}

.header__searchBar{
    width: 73rem;
    height: 4.6rem;
    @include mixins.flexCenter;
    justify-content: flex-start;
    background: map-get(variables.$colors, "white");
    border: 0.1rem solid map-get(variables.$colors, "black");
    border-radius: 5rem;
}

.header__icon{
    font-size: 1.75;
    color: map-get(variables.$colors, "black");
    padding-left: 1.6rem;
}

.header__input{
    all: unset;
    padding: 0 2.4rem 0 2.4rem;
    width: 100%;
    font-size: 1.5rem;
}

.header__a{
    all: unset;
    font-size: 1.6rem;
    border: 0.1rem solid map-get(variables.$colors, "black");
    padding: 1rem 1.6rem 1rem 1.6rem;
    margin: 0.5rem;
}

.header__a--sign{
    background: map-get(variables.$colors, "black");
    color: map-get(variables.$colors, "white");
}

.header__a--globe{
    padding: 1rem 1rem 1rem 1rem;

}